{% extends "base.html" %}

{% block title %}Suppression du compte{% endblock %}

{% block content %}
    <h2>Confirmer la suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer définitivement votre compte <strong>{{ user.username }}</strong> ?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" style="color:red;">Oui, supprimer mon compte</button>
        <a href="{% url 'accounts:user-profile' %}"><button type="button">Annuler</button></a>
    </form>
{% endblock %}
