{% extends "base.html" %}

{% block title %}Détail de la représentation{% endblock %}

{% block content %}
<h1>Détail de la représentation</h1>

<p><strong>Date :</strong> {{ representation.schedule|date:"d/m/Y H:i" }}</p>

<p><strong>Spectacle :</strong>
    <a href="{% url 'catalogue:show-show' representation.show.id %}">
        {{ representation.show.title }}
    </a>
</p>

{% if representation.location %}
    <p><strong>Lieu :</strong>
        <a href="{% url 'catalogue:location-show' representation.location.id %}">
            {{ representation.location.designation }}
        </a>
    </p>
{% else %}
    <p><strong>Lieu :</strong>
        (Lieu de création du spectacle) :
        <a href="{% url 'catalogue:location-show' representation.show.location.id %}">
            {{ representation.show.location.designation }}
        </a>
    </p>
{% endif %}

<nav><a href="{% url 'catalogue:representation-index' %}">← Retour à l’index</a></nav>
{% endblock %}
