{% extends 'base.html' %}

{% block title %}Détails de la réservation{% endblock %}

{% block content %}
    <h2>Réservation #{{ reservation.id }}</h2>
    <p><strong>Date de la réservation :</strong> {{ reservation.booking_date }}</p>
    <p><strong>Status :</strong> {{ reservation.status }}</p>

    <h3>Représentations associées :</h3>
    <ul>
        {% for representation in representations %}
            <li>{{ representation.show.title }} - {{ representation.schedule }} (Lieu : {{ representation.location.designation }})</li>
        {% empty %}
            <li>Aucune représentation associée.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'catalogue:reservation_index' %}">Retour aux réservations</a>

{% endblock %}
