{% extends 'base.html' %}

{% block title %}Modifier un artiste{% endblock %}

{% block content %}
    <h2>Modifier l’artiste</h2>
    <form method="post">
        {% csrf_token %}
        <label>Prénom</label>
        <input type="text" name="firstname" value="{{ artist.firstname }}">
        <br><br>
        <label>Nom</label>
        <input type="text" name="lastname" value="{{ artist.lastname }}">
        <br><br>
        <button type="submit">Enregistrer</button>
    </form>
{% endblock %}
