{% extends 'base.html' %}

{% block title %}Liste des artistes{% endblock %}

{% block content %}
    <a href="{% url 'catalogue:artist-create' %}">Ajouter</a>
    <br>
    <h2>Liste des artistes</h2>
    <ul>
        {% for artist in artists %}
            <tr>
                <td>
                    <a href="{% url 'catalogue:artist-show' artist.id %}"> {{ artist.firstname }} {{ artist.lastname }} <br></a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">
                    Il n'y a aucune données !
                </td>
            </tr>
        {% endfor %}
    </ul>
{% endblock %}
